{{ if .IsNamedParams }}
<html>
    <iframe src="{{.Get "embeded_link" }}" height="{{.Get "embeded_height" }}" style="display: block; border: none; width: 100%;"></iframe>
    <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
        <span class="button next" onClick="window.location.reload();" style="max-width: 100%;">
                <a>
                  <span class="button__text" style="font-size: 80%">Refresh if snippet doesn't appear !</span>
                  <span class="button__icon"></span>
                </a>
        </span>
    </div>
</html>
{{ end }}
{{.Inner}}